.banner {
  background-size: cover;
  background-position: bottom;
  padding: 200px 0;
  margin-bottom: -40px;
}
.cards {
  box-shadow: 3px 2px 2px 2px rgba(0, 0, 0, 0.1);
  background-color: #F8F9FA;
  height: auto;
  margin: 8px;
}
.cards-content {
  padding: 24px;
}
.container {
}
ul li {
  list-style: none;
  display: inline-block;
  padding-right: 8px;
}
ul {
  margin: 0;
  padding: 0;
}
.all-cards {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}
.link {
  background-color: white;
  width: 100%;
  text-decoration: none;
  position: relative;
  border-top: 1px solid rgba(160,160,160,0.2);
  border-bottom: 1px solid rgba(160,160,160,0.2);;
  padding: 16px 24px;
}
.flat-card-image {
  height: 180px;
  background-position: center;
  background-size: cover;
}
/* .cards-info {
  box-shadow: 3px 2px 2px 2px rgba(0, 0, 0, 0.1);
  background-color: #F8F9FA;
  height: auto;
  margin: 16px;
  padding: 16px;
} */
